<h1>Batman Mad Lib</h1>
<p>
Batman is {{req.query.person_1}}. Teenager {{req.query.person_1}} was traumatized when he {{req.query.verb_ending_ed_1}} his parent`s murder and vowed to {{req.query.verb_1}} their deaths by bringing the {{req.query.noun_plural_1}} to justice. {{req.query.person_1}} used his {{req.qeury.adjective_1}} fortune to study criminology, to train his body to {{req.query.adjective_2}} perfection, and to acquire high tech vehicles and {{req.query.noun_plural_2}} to fight crime in his hometown of {{req.query.noun_1}}. One night {{req.query.person_1}} was {{req.query.verb_2}} by a bat outside his window and decided to dress himself as a "bat man" to strike {{req.query.emotion_1}} in the "{{req.query.adverb_1}} and {{req.query.adjective_3}}" hearts of {{req.query.noun_plural_1}}. From that moment forward, {{req.query.person_1}} became "Batman" in his altered {{req.query.noun_2}}.
</p>

{{!-- 
{{ req.query.noun_1 }}
{{ req.query.verb_1 }}
{{ req.query.verb_2 }}
{{ req.query.noun_plural_1 }}
{{ req.query.noun_1 }}
{{ req.query.noun_plural_2 }}
{{ req.query.noun_plural_3 }}
{{ req.query.noun_2 }}
{{ req.query.noun_1 }}
{{ req.query.verb_ending_ed_1 }}
{{ req.query.adjective_1 }}
{{ req.query.person_1 }}
{{ req.query.adjective_2 }}
{{ req.query.emotion_1 }}
{{ req.query.verb_ending_ed_2 }}
{{ req.query.noun_3 }}
{{ req.query.verb_3 }}
{{ req.query.verb_4 }}
{{ req.query.noun_4 }}
{{ req.query.verb_5 }}
{{ req.query.emotion_2 }}
{{ req.query.verb_ending_ed_3 }}
{{ req.query.noun_5 }}
{{ req.query.adverb_1 }}
{{ req.query.noun_6 }}
{{ req.query.adverb_2 }}
{{ req.query.noun_7 }}
{{ req.query.verb_ending_ed_4 }}  --}}